# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project
.gitattributes

# idea
out
*.ipr
*.iws
*.iml
.idea/
idea

# gradle
build
.gradle

# minecraft
.minecraft/
eclipse
run

# Files from Forge MDK
forge*changelog.txt
docs/
minecraft-clientOnly-52430b475d-26.1.2-sources/
minecraft-common-52430b475d-26.1.2-sources/
docs/CatFrame-0.2.0.10-bluey-deobf-sources/
unimixins-all-1.7.10-0.2.1-sources/
.vscode/
GTNHLib/
/markdown
/.qoder
